/* --

Custom CSS File
Please make any amendments to your theme's CSS in this file rather than "styles.css"
This will make updating your theme files much easier without overwriting your changes!
Example: Change the background colour to black (!important is used to overwrite any duplicate classes in styles.css)
body { background: #000!important; }

-- */
#logo.leaderboard-true {
	width: 334px !important;
	float: left;
	margin: 0 20px 0px 10px;
}
#logo.leaderboard-true img
{
	width: 334px !important;
}

#wrapper {
	background-color: transparent;
	padding-top: 29px;
}
#main-nav
{
	background-color: rgba(0,0,0,.5);
	margin-top: 20px;
}
#main-nav ul li {
	border: 0;
}
#main-nav ul a {
	color: #fff;
}

#sidebar
{
	-moz-box-sizing: border-box;
  	box-sizing: border-box;
}

.post
{
	background-color: #fff;
}
.post .entry-header
{
	padding: 12px 10px 0 10px;
}
.post .entry-meta, .post .entry
{
	padding: 0 10px;
}

.aw_socialcounter_widget a
{
	color: #fff !important;
}

a < .calendar_date
{
	text_decoration: none;
}

.calendar_date
{
	text-decoration: none;
}
.calendar_date div
{
	width:50px;
	height:50px;
	text-align: center;
	line-height: 50px;
	font-size:15px;
}

.calendar_date > .yellow
{
	background-color:#fcf8e3;
	color: #c09853;
}

.calendar_date > .orange
{
	background-color: #fbb450;
	color: #fff;
}

.calendar_date > .green
{
	background-color:#dff0d8;
	color: #468847;
}
.calendar_date > .red
{
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}
#archive .slider-caption, .aw_sliderblog_widget .slider-caption, .aw_sliderlatest_widget .slider-caption {
	width: 40%;
}

.aw_sliderblog_widget {
	-webkit-box-shadow: 1px 5px 15px rgba(0, 0, 0, .4);
	box-shadow: 1px 5px 15px rgba(0, 0, 0, .4);
}