/* --

Theme Name: Deadline Responsive
Theme URI: http://www.awesem.com/deadline-responsive/
Version: 2.1.0
Author: AWESEM
Author URI: http://www.awesemthemes.com
License: All files, unless otherwise stated, are released under the GNU General Public License version 3.0
License URI: http://www.gnu.org/licenses/gpl-3.0.html
Description: A Premium News/Magazine Theme by AWESEM

-- */

@import url('custom.css');
@import url('font-awesome.css');
@import url('font-awesome-ie7.css');

/* --

Styles Index
=======
1.0 Reset
2.0 Grid
	2.1 960 < x
	2.2 768 < x < 959
	2.3 x < 767
3.0 Typography
	3.1 Alignements
	3.2 Tables
4.0 Main structure
	4.1 Wrapper
	4.2 Topbar
	4.3 Header
	4.4 Footer
5.0 Top navigation
	5.1 1st level
	5.2 2nd level
	5.3 3rd level
	5.4 Fluid effect
	5.5 Date
6.0 Main navigation
	6.1 1st level
	6.2 2nd level
	6.3 3rd level
	6.4 Fluid effect
7.0 Breadcrumbs
8.0 Posts
	8.1 Posts icons
	8.2 Posts entries
	8.3 Posts navigation
	8.4 Video & Audio player
	8.5 Archives
	8.6 Search results
	8.7 Author bio
	8.8 Related posts
	8.9 Navigation
9.0 Contact
10.0 Forms
11.0 Comments
	11.1 Comment list
	11.2 Comment form
		11.2.1 Depth 1
		11.2.2 Depth 2
		11.2.3 Depth 3
		11.2.4 Depth 4
		11.2.5 Depth 5
12.0 Widgets
	12.1 Ads
	12.2 Categories / Latest blog posts
	12.3 Flickr
	12.4 News in pictures
	12.5 Search
	12.6 Slider
		12.6.1 Slider reset
		12.6.2 Slider theme
		12.6.3 Slider blog / Slider latest
	12.7 Social counter
	12.8 Tabbed
	12.9 Twitter
	12.10 Various
	12.11 Video
13.0 Shortcodes
	13.1 Button
		13.1.1 Button small
		13.1.2 Button medium
		13.1.3 Button large
	13.2 List
	13.3 Toggle
	13.4 Tooltips
	13.5 Dropcap
	13.6 Highlight
	13.7 Alert
	13.8 Google Maps
	13.9 Columns
14.0 Responsive
	14.1 768 < x < 959
		14.1.1 Leaderboard
		14.1.2 Forms
		14.1.3 Comments - Comment form - Depths
		14.1.4 Widget - Ads
		14.1.5 Widget - News in pictures
		14.1.6 Widget - Search
		14.1.7 Shortcode - Columns
		14.1.8 Widget - Tabbed
	14.2 x < 767
		14.2.1 Main structure
		14.2.2 Typography
		14.2.3 Top
		14.2.4 Bottom
		14.2.5 Leaderboard
		14.2.6 Main nav
		14.2.7 Posts - Video & Audio player
		14.2.8 Forms
		14.2.9 Comments - Comment list
		14.2.10 Comments - Comment form - Depths
		14.2.11 Widget - Ads
		14.2.12 Widget - News in pictures
		14.2.13 Widget - Search
		14.2.14 Widget - Slider
		14.2.15 Shortcode - Tabs
		14.2.16 Shortcode - Columns
x.x Clear
x.x Various

-- */

/* -- 1.0 Reset -- */
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, dialog, div, dl, dt, em, embed, fieldset, figcaption, figure, font, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, hr, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, meter, nav, object, ol, output, p, pre, progress, q, rp, rt, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video, xmp { border: 0; margin: 0; padding: 0; font-size: 100%; }
html, body { height: 100%; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, video { display: block; }
b, strong { font-weight: bold; }
img { color: transparent; font-size: 0; vertical-align: middle; -ms-interpolation-mode: bicubic; }
li { display: list-item; }
table { border-collapse: collapse; border-spacing: 0; }
th, td, caption { font-weight: normal; vertical-align: top; text-align: left; }
q { quotes: none; }
q:before, q:after { content: ''; content: none; }
sub, sup, small { font-size: 75%; }
sub, sup { line-height: 0; position: relative; vertical-align: baseline; }
sub { bottom: -0.25em; }
sup { top: -0.5em; }
svg { overflow: hidden; }


/* -- 2.0 Grid- -- */
	
	/* -- 2.1 960 < x -- */
	body { min-width: 960px; background: #ddd; color: #333; position: relative; }
	.container { display: block; width: 960px; margin: 0 auto; }
	.grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-10, .grid-11, .grid-12 { display: block; margin: 0 10px; float: left; }
	.grid-1 { width: 60px; }
	.grid-2 { width: 140px; }
	.grid-3 { width: 220px; }
	.grid-4 { width: 300px; }
	.grid-5 { width: 380px; }
	.grid-6 { width: 460px; }
	.grid-7 { width: 540px; }
	.grid-8 { width: 620px; }
	.grid-9 { width: 700px; }
	.grid-10 { width: 780px; }
	.grid-11 { width: 860px; }
	.grid-12 { width: 940px; }
	.container .container { margin-left: -10px; }
	.container .grid-1 .container { width: 80px; }
	.container .grid-2 .container { width: 160px; }
	.container .grid-3 .container { width: 240px; }
	.container .grid-4 .container { width: 320px; }
	.container .grid-5 .container { width: 400px; }
	.container .grid-6 .container { width: 480px; }
	.container .grid-7 .container { width: 560px; }
	.container .grid-8 .container { width: 640px; }
	.container .grid-9 .container { width: 720px; }
	.container .grid-10 .container { width: 800px; }
	.container .grid-11 .container { width: 880px; }
	.container .grid-12 .container { width: 960px; }
	
	/* -- 2.2 768 < x < 959 -- */
	@media only screen and (min-width: 768px) and (max-width: 959px) {
		body { min-width: 720px; }
		.container { width: 720px; }
		.grid-1 { width: 40px; }
		.grid-2 { width: 100px; }
		.grid-3 { width: 160px; }
		.grid-4 { width: 220px; }
		.grid-5 { width: 280px; }
		.grid-6 { width: 340px; }
		.grid-7 { width: 400px; }
		.grid-8 { width: 460px; }
		.grid-9 { width: 520px; }
		.grid-10 { width: 580px; }
		.grid-11 { width: 640px; }
		.grid-12 { width: 700px; }
		.container .container { margin-left: -10px; }
		.container .grid-1 .container { width: 60px; }
		.container .grid-2 .container { width: 120px; }
		.container .grid-3 .container { width: 180px; }
		.container .grid-4 .container { width: 240px; }
		.container .grid-5 .container { width: 300px; }
		.container .grid-6 .container { width: 360px; }
		.container .grid-7 .container { width: 420px; }
		.container .grid-8 .container { width: 480px; }
		.container .grid-9 .container { width: 540px; }
		.container .grid-10 .container { width: 600px; }
		.container .grid-11 .container { width: 660px; }
		.container .grid-12 .container { width: 720px; }
	}
	
	/* -- 2.3 x < 767 -- */
	@media only screen and (max-width: 767px) {
		body { min-width: 100%; background: #fff; }
		.container { width: 95%; }
		.grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-10, .grid-11, .grid-12 { width: 100%; margin: 0; }
		.container .container { margin-left: 0; }
		.container .grid-1 .container, .container .grid-2 .container, .container .grid-3 .container, .container .grid-4 .container, .container .grid-5 .container, .container .grid-6 .container, .container .grid-7 .container, .container .grid-8 .container, .container .grid-9 .container, .container .grid-10 .container, .container .grid-11 .container, .container .grid-12 .container { width: 100%; }
	}


/* -- 3.0 Typography -- */
body { font: 12px/20px Arial, sans-serif; }
p, dl, hr, h1, h2, h3, h5, h6, ol, ul, pre, table, address, blockquote, fieldset, figure { margin-bottom: 20px; }
pre, code { font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace; }
blockquote { font: 14px/21px 'Noticia Text', Georgia, serif; font-style: italic; }
hr { border: 0 #e8e8e8 solid; border-top-width: 1px; clear: both; height: 0; }
h1 { font: bold 28px/42px Arial, sans-serif; margin-top: -10px; }
h2 { font: bold 24px/36px Arial, sans-serif; margin-top: -9px; }
h3 { font: bold 20px/30px Arial, sans-serif; margin-top: -8px; }
h4 { font: normal 16px/24px Arial, sans-serif; margin-top: -6px; }
h5 { font: bold 15px/24px Arial, sans-serif; margin-top: -7px; }
h6 { font: bold 13px/24px Arial, sans-serif; margin-top: -8px; }
ol { list-style: decimal inside; }
.ie7 ol { list-style: decimal outside; }
ul { list-style: disc inside; }
.ie7 ul { list-style: disc outside; }
ul ul { margin-bottom: 0; margin-left: 20px; list-style-type: circle; }
li { margin-left: 0; }
a { color: #09c; }
.text-left { text-align: left; }
.text-right { text-align: right; }
.text-center { text-align: center; }

	/* -- 3.1 Alignements -- */
	.alignright { text-align: right; float: right; margin-left: 20px; }
	.alignleft { text-align: left; float: left; margin-right: 20px; }
	.aligncenter { text-align: center; }
	
	/* -- 3.2 Tables -- */
	table { border: 1px solid #e8e8e8; padding: 0 5px; width: 100%; }
	#top table { border-color: #444; }
	table caption { text-align: center; font-weight: bold; font-size: 16px; line-height: 28px; }
	table thead th { font-weight: bold; color: #666; }
	tr { border-bottom: 1px solid #e8e8e8; }
	#top tr { border-bottom-color: #444; }
	th, td { padding: 5px; vertical-align: middle; text-align: center; }


/* -- 4.0 Main structure -- */

	/* -- 4.1 Wrapper -- */
	#wrapper { background: #fff; padding: 40px 10px 20px 10px; }
	
	/* -- 4.2 Topbar -- */
	#top { background: #333; padding: 20px 0 0 0; display: none; color: #fff; }
	#top-open { display: block; border-top: 10px solid #333; border-left: 10px solid transparent; border-right: 10px solid transparent; margin: 0 auto; width: 0; height: 0; text-indent: -9999px; cursor: pointer; z-index: 350; margin-bottom: -10px; position: relative; }
	#top-open.active { cursor: default; }
	#top-closed { display: none; position: absolute; z-index: 11; top: 20px; right: 20px; height: 16px; width: 16px; background: #fff url('/img/icons-sprite.png') -96px -32px no-repeat; text-indent: -9999px; }
	#top-closed.active { display: block; }
	
	/* -- 4.3 Header -- */
	.header-wrapper { position: relative; }
	.ie7 .header-wrapper { position: static; }
	#logo-text { font-size: 28px; font-weight: bold; text-decoration: none; }
	#tagline { font: italic 11px/20px 'Noticia Text', serif; }
	#logo.leaderboard-true { width: 172px; float: left; margin: 0 20px 40px 10px; }
	.ie7 #logo.leaderboard-true { position: static !important; margin-top: 0 !important; top: 0 !important; }
	#logo.leaderboard-true img { width: 100%; }
	#leaderboard { width: 728px; height: 90px; float: right; margin: 0 0 0 20px; }
		
	/* -- 4.4 Footer -- */
	footer { background: #f8f8f8; padding: 40px 0 0 0; border-top: 1px solid #eee; }
	#bottom { background: #fff; margin-top: 20px; padding: 10px 0; border-top: 1px solid #eee; }
	#bottom p { font-size: 11px; line-height: 20px; margin-bottom: 0; color: #999; }
	#bottom a { color: #999; }
	#bottom a:hover { color: #333; }


/* -- 5.0 Top navigation -- */
#top-nav { height: 30px; z-index: 300; position: relative; background: #f8f8f8; border-bottom: 1px solid #eee; margin-top: 0; }
#top-nav ul { margin: 0; padding: 0; list-style: none; line-height: 30px; position: relative; font-size: 12px; }
#top-nav ul a { display: inline-block; position: relative; text-decoration: none; }
#top-nav ul li { float: left; position: relative; }
#top-nav ul li:hover { visibility: inherit; }

	/* -- 5.1 1st level -- */
	#top-nav ul li { border-right: 1px solid #eee; }
	#top-nav ul li:last-child { border-right: none; }
	#top-nav ul a { padding: 0 10px; color: #333; height: 30px; line-height: 30px; }
	#top-nav ul a:hover, #top-nav ul li.sfHover a, #top-nav ul li.current-cat a, #top-nav ul li.current-menu-item a { background: #ddd; }

	/* -- 5.2 2nd level -- */
	#top-nav ul ul { padding: 10px 0; background: #ddd; font-size: 12px; }
	#top-nav ul ul li { height: 30px; line-height: 30px; border: none; padding: 0 10px; float: none; }
	#top-nav ul ul li a { line-height: 30px; height: 30px; display: block; padding: 0 10px; border-top: 1px solid #ccc; }
	#top-nav ul ul li:first-child a, .ie7 #top-nav ul ul li a { border-top: none; }
	
	/* -- 5.3 3rd level -- */
	#top-nav ul ul ul { padding: 0; }	
	#top-nav ul ul li.sfHover, #top-nav ul ul li.sfHover, #top-nav ul ul a:focus, #top-nav ul ul a:hover, #top-nav ul ul a:active { outline: 0; }
		
	/* -- 5.4 Fluid effect -- */
	#top-nav a { display: block; width: auto; }
	#top-nav li { float: left; width: auto; position: relative; }
	#top-nav li ul { position: absolute; width: auto; left: -999em; min-width: 100%; }
	#top-nav li:hover ul, #top-nav li.sfHover ul { left: auto; top: 30px; }
	.ie7 #top-nav li.sfHover ul { left: 0; }
	#top-nav ul ul li:hover ul, #top-nav ul ul li.sfHover ul { margin-left: 100%; left: 0; top: 0px; }
	#top-nav li li { white-space: nowrap; min-width: 140px; }
	
	/* -- 5.5 Date -- */
	#date p { font-size: 12px; line-height: 30px; }
	#date span { font-size: 10px; text-transform: uppercase; color: #fff; background: #ccc; padding: 5px; }
	

/* -- 6.0 Main navigation -- */
#main-nav { height: 40px; z-index: 299; margin-top: 40px; margin-bottom: 20px; position: relative; border-bottom: 10px solid #333; -webkit-border-radius: 0 0 2px 2px; -moz-border-radius: 0 0 2px 2px; border-radius: 0 0 2px 2px; }
#main-nav ul { margin: 0; padding: 0; list-style: none; line-height: 40px; position: relative; font-size: 13px; }
#main-nav ul a { display: inline-block; position: relative; text-decoration: none; }
#main-nav ul li { float: left; position: relative; }
#main-nav ul li:hover { visibility: inherit; }
#main-navIcon { display: none; }

	/* -- 6.1 1st level -- */
	#main-nav ul li { border-right: 1px solid #fff; }
	#main-nav ul li:last-child { border-right: none; }
	#main-nav ul a { padding: 0 20px; color: #333; height: 40px; line-height: 40px; }
	#main-nav ul a:hover, #main-nav ul li.sfHover a, #main-nav ul li.current-cat a, #main-nav ul li.current-menu-item a { background: #333; color: #fff; -webkit-border-radius: 2px 2px 0 0; -moz-border-radius: 2px 2px 0 0; border-radius: 2px 2px 0 0; }
	
	/* -- 6.2 2nd level -- */
	#main-nav ul ul { padding: 10px 0; background: #333; }
	#main-nav ul ul li { height: 30px; line-height: 30px; border: none; padding: 0 10px; float: none; }
	#main-nav ul ul li a { line-height: 30px; height: 30px; display: block; padding: 0 10px; border-top: 1px solid #666; -webkit-border-radius: 0 !important; -moz-border-radius: 0 !important; border-radius: 0 !important; }
	#main-nav ul ul li:first-child a, .ie7 #main-nav ul ul li a { border-top: none; }
	
	/* -- 6.3 3rd level -- */
	#main-nav ul ul ul { padding: 0; }	
	#main-nav ul ul li.sfHover, #main-nav ul ul li.sfHover, #main-nav ul ul a:focus, #main-nav ul ul a:hover, #main-nav ul ul a:active { outline: 0; }
	
	/* -- 6.4 Fluid effect -- */
	#main-nav a { display: block; width: auto; }
	#main-nav li { float: left; width: auto; position: relative; }
	#main-nav li ul { position: absolute; width: auto; left: -999em; min-width: 100%; }
	#main-nav li:hover ul, #main-nav li.sfHover ul { left: auto; top: 40px; }
	.ie7 #main-nav li.sfHover ul { left: 0; }
	#main-nav ul ul li:hover ul, #main-nav ul ul li.sfHover ul { margin-left: 100%; left: 0; top: 0px; }
	#main-nav li li { white-space: nowrap; min-width: 140px; }
	

/* -- 7.0 Breadcrumb -- */
#breadcrumb { display: block; background: #f8f8f8; border: 1px solid #eee; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; font-weight: bold; }
.breadcrumb-wrapper { display: block; padding: 10px; }
#breadcrumb a { text-decoration: none; }


/* -- 8.0 Posts -- */
.entry-header h1 { font-size: 22px; line-height: 30px; font-weight: normal; padding-bottom: 10px; border-bottom: 1px solid #e8e8e8; margin-top: -5px; }
.entry-header h2 { font-size: 22px; line-height: 30px; font-weight: normal; margin-bottom: 5px; margin-top: -5px; }
.entry-header h2 a { text-decoration: none; }
.entry-meta, .post-meta { text-transform: uppercase; font-size: 10px; color: #999; }
.entry-meta a, .post-meta a { color: #999; }
.entry-meta a:hover, .post-meta a:hover { color: #333; }
.entry-meta p { margin-bottom: 5px; }
.entry-meta { border-bottom: 1px dotted #e8e8e8; margin-bottom: 20px; padding-bottom: 15px; }
.blog .entry-meta, #archive .entry-meta, .search .entry-meta { border-bottom: 0; margin-bottom: 0; }
.post-meta .meta-title, .post-meta .excerpt { color: #333; text-transform: none; font-weight: bold; font-size: 12px; text-decoration: none; }
.post-meta .excerpt {font-weight: normal; margin-top: -5px;  }
.post { padding-bottom: 20px; }
.image-link { display: block; background: #fff; padding: 4px; border: 1px solid #e8e8e8; -webkit-transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; -ms-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; }
.image-link:hover { background: #333; border-color: #333; }

	/* -- 8.1 Posts icons -- */
	.post-icon { display: block; height: 24px; width: 24px; background: #333 url('/img/post-sprite.png') no-repeat; float: left; margin-right: 10px; }
	.format-image .post-icon { background-position: 0 0; }
	.format-gallery .post-icon { background-position: -24px 0; }
	.format-link .post-icon { background-position: -48px 0; }
	.format-quote .post-icon { background-position: -72px 0; }
	.format-audio .post-icon { background-position: -96px 0; }
	.format-video .post-icon { background-position: -120px 0; }
	.format-standard .post-icon { background-position: -144px 0; }

	/* -- 8.2 Posts entries -- */
	.entry-thumb { margin-bottom: 20px; }
	.format-gallery .entry-thumb, .audio-thumb { margin-bottom: 0; }
	.entry-thumb img { width: 100%; height: auto; }
	.post-thumb { margin-bottom: 20px; }
	.entry-video, .entry-audio { margin-bottom: 20px; }
	.format-audio .image-link { padding: 0; border: 0; }
	
	/* -- 8.3 Posts navigation -- */
	.navigation .alignleft { float: left; }
	.navigation .alignright { float: right; }
	
	/* -- 8.4 Video & Audio player -- */
	div.jp-audio, div.jp-video { position: relative; width: 100%; background: #333; }
	div.jp-audio a, div.jp-video a { outline: none; }
	div.jp-video-full div.jp-jplayer { top: 0; left: 0; position: fixed !important; position: relative; overflow: hidden; z-index: 1000; background: #000; }
	div.jp-video-full div.jp-gui { position: fixed !important; position: static; top: 0; left: 0; width: 100%; height: 100%; z-index: 1000; }
	div.jp-video-full div.jp-jplayer img { display: none !important; }
	div.jp-video-full div.jp-interface { position: absolute !important; position: relative; bottom: 0; left: 0; z-index: 1000; }
	div.jp-interface { position: relative; background: #333 url('/img/video-sprite.png') 0 -45px repeat-x; width: 100%; }
	div.jp-interface { height: 35px; }
	div.jp-controls-holder { overflow: hidden; position: absolute; top: 10px; left: 0; height: 20px; width: 100%; }
	div.jp-time { position: absolute; font-size: 10px; color: #ccc; font-family: Arial, sans-serif; left: 29px; top: 0; line-height: 20px; background: transparent url('/img/video-sprite.png') 0 -80px no-repeat; padding-left: 12px; }
	div.jp-interface ul.jp-controls { list-style-type: none; margin: 0; padding: 0; overflow: hidden; }
	div.jp-interface ul.jp-controls li { display: inline; float: left; }
	div.jp-interface ul.jp-controls a { display: block; overflow: hidden; text-indent: -9999px; }
	a.jp-play, a.jp-pause { width: 20px; height: 20px; position: absolute; top: 0; left: 5px; }
	a.jp-play { background: url('/img/video-sprite.png') 0 0 no-repeat; }
	a.jp-play:hover { background: url('/img/video-sprite.png') 0 -20px no-repeat; }
	a.jp-pause { background: url('/img/video-sprite.png') -20px 0 no-repeat; display: none; }
	a.jp-pause:hover { background: url('/img/video-sprite.png') -20px -20px no-repeat; }
	div.jp-progress { overflow: hidden; background-color: #444; top: 0; left: 0; height: 5px; border: 1px solid #111; z-index: 4; }
	div.jp-seek-bar { height: 5px; cursor: pointer; z-index: 8; position: relative; }
	div.jp-play-bar { position: absolute; top: 0; left: 0; background: #b30000 url('/img/video-sprite.png') 0 -40px repeat-x; width: 0px; height: 5px; z-index: 10; display: block; }
	a.jp-mute, a.jp-unmute { width: 20px; height: 20px; position: absolute; top: 0; right: 100px; }
	div.jp-audio a.jp-mute, div.jp-audio a.jp-unmute, .ie8 div.jp-video a.jp-mute, .ie8 div.jp-video a.jp-unmute, .ie7 div.jp-video a.jp-mute, .ie7 div.jp-video a.jp-unmute { right: 65px; }
	a.jp-mute { background: url('/img/video-sprite.png') -40px 0 no-repeat; }
	a.jp-mute:hover { background: url('/img/video-sprite.png') -40px -20px no-repeat; }
	a.jp-unmute { background: url('/img/video-sprite.png') -60px 0 no-repeat; display: none; }
	a.jp-unmute:hover { background: url('/img/video-sprite.png') -60px -20px no-repeat; }
	div.jp-volume-bar { position: absolute; overflow: hidden; background: #444; width: 48px; height: 5px; cursor: pointer; top: 0; right: 45px; z-index: 999; top: 50%; margin-top: -3.5px; border: 1px solid #111; }
	div.jp-audio div.jp-volume-bar, .ie8 div.jp-video div.jp-volume-bar, .ie7 div.jp-video div.jp-volume-bar { right: 10px; }
	div.jp-volume-bar-value { background: #b30000 url('/img/video-sprite.png') 0 -40px repeat-x; width: 0; height: 5px; }
	div.jp-jplayer audio, div.jp-jplayer { width: 0; height: 0; }
	div.jp-jplayer { line-height: 0; }
	ul.jp-toggles { list-style-type: none; padding: 0 0 0 8px; margin: 0; overflow: hidden; position: absolute; right: 5px; background: transparent url('/img/video-sprite.png') 0 -80px no-repeat; }
	.ie8 ul.jp-toggles, .ie7 ul.jp-toggles { display: none; }
	ul.jp-toggles li { display: block; margin: 0; }
	ul.jp-toggles li a { display: block; width: 20px; height: 20px; text-indent: -9999px; line-height: 100%; }
	a.jp-full-screen { background: url('/img/video-sprite.png') -80px 0 no-repeat; }
	a.jp-full-screen:hover { background: url('/img/video-sprite.png') -80px -20px no-repeat; }
	a.jp-restore-screen { background: url('/img/video-sprite.png') -100px 0 no-repeat; }
	a.jp-restore-screen:hover { background: url('/img/video-sprite.png') -100px -20px no-repeat; }
	
	/* -- 8.5 Archives -- */
	#archive .floated-thumb { border-bottom: 1px dotted #e8e8e8; margin-bottom: 10px; }
	#archive .floated-thumb p { margin-bottom: 5px; }
	#archive .floated-thumb .post-thumb { margin-bottom: 10px; }
	#archive .floated-thumb p.excerpt { margin-bottom: 5px; }
	
	/* -- 8.6 Search results -- */
	.search-results .grid-8 .floated-thumb { border-bottom: 1px dotted #e8e8e8; margin-bottom: 10px; }
	.search-results .grid-8 .floated-thumb p { margin-bottom: 5px; }
	.search-results .grid-8 .floated-thumb .post-thumb { margin-bottom: 10px; }
	.search-results .grid-8 .floated-thumb p.excerpt { margin-bottom: 5px; }
	
	/* -- 8.7 Author bio -- */
	#author-bio { clear: both; padding-bottom: 20px; }
	#author-bio .alignleft a { width: 50px; height: 50px; display: block; background: #fff; padding: 4px; border: 1px solid #e8e8e8; -webkit-transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; -ms-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; margin-top: 5px; }
	#author-bio .alignleft a:hover { background: #333; border-color: #333; }
	
	/* -- 8.8 Related posts -- */
	#related-posts { padding-bottom: 30px; }
	#related-posts .floated-thumb { border-bottom: 1px dotted #e8e8e8; margin-bottom: 10px; }
	#related-posts .floated-thumb p { margin-bottom: 5px; }
	#related-posts .floated-thumb .post-thumb { margin-bottom: 10px; }
	#related-posts .floated-thumb p.excerpt { margin-bottom: 5px; }
	
	/* -- 8.9 Navigation -- */
	.navigation { background: #f8f8f8; border: 1px solid #eee; padding: 10px; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; text-align: center; }
	.navigation a { font-weight: bold; text-decoration: none; }
	.navigation .current { font-weight: bold; }
	.navigation .next.page-numbers { float: right; }
	.ie7 .navigation .next.page-numbers { margin-top: -30px; margin-right: 10px; }
	.navigation .prev.page-numbers { float: left; }


/* -- 9.0 Contact -- */
.page-template-template-contact-php > iframe { display: none; }
span.recaptcha_only_if_audio { display: block; padding-top: 16px; }


/* -- 10.0 Forms -- */
input, textarea { border: 1px solid #e8e8e8; outline: none; font: normal 12px/20px Arial, sans-serif; display: block; -webkit-appearance: none; }
input:focus, textarea:focus { border-color: #09c; }
.ie7 input:focus, .ie7 textarea:focus { border-color: #333 !important; }
input { padding: 0 4px; width: 280px; height: 28px; line-height: 28px; }
textarea { padding: 4px; width: 600px; height: 190px; resize: vertical; }
label { line-height: 40px; }
label.error { display: none !important; }
input.error, textarea.error { border: 1px solid #f00; }
span.red { color: #f00; }
.input-wrapper { padding: 5px; background: #f8f8f8; }
.submit { width: auto; height: 28px; padding: 0 20px; background: #09c; border: 1px solid #07c; display: inline-block; cursor: pointer; font: bold 12px/28px Arial, sans-serif; color: #fff !important; }
.submit-wrapper { border: 5px solid #f8f8f8; width: auto; display: inline-block; }
.ie7 .submit-wrapper { display: inline; }
.ie7 #recaptcha_response_field { display: block; margin-top: 5px; }


/* -- 11.0 Comments -- */

	/* -- 11.1 Comment list -- */
	#comments { padding-top: 20px; }
	.commentlist { margin-bottom: 40px; }
	ol.commentlist, ol.commentlist ul { list-style-type: none; margin-left: 0; }
	ol.commentlist .depth-1 { margin-bottom: 20px; position: relative; }
	li.comment { background: #fff; margin: 10px 0 20px 0; padding: 20px 20px 0 20px; border: 1px solid #eee; position: relative; }
	li.odd { background: #f8f8f8 !important; }
	li.odd > #respond .input-wrapper { background: #fff !important; }
	ul.children li.comment { margin-top: 20px; }
	li.comment .avatar { float: left; margin-right: 20px; margin-bottom: 20px; background: #fff; padding: 4px; border: 1px solid #eee; }
	li.comment cite { color: #333; font-weight: bold; font-style: normal; }
	li.comment cite a { color: #333; border-bottom: 0; text-decoration: none; }
	li.comment cite a:hover { background: none; border: 0 !important; color: #09c; }
	.comment-meta a { color: #999; text-transform: uppercase; font-size: 10px; }
	.comment-meta a:hover { color: #333; }
	.comment-meta { margin-bottom: 20px; }
	.comment ul { margin-bottom: 0; }
	.says { display: none; }
	.comments-nav { margin-bottom: 40px; }
	
	/* -- 11.2 Comment form -- */
	.comment-reply-link { margin-bottom: 20px; display: block; font-size: 10px; text-transform: uppercase; color: #999; font-weight: bold; text-decoration: none; }
	.comment-reply-link:hover { color: #333; }
	#cancel-comment-reply-link { margin-bottom: 40px; }
	
		/* -- 11.2.1 Depth 1 -- */
		.depth-1 .grid-4 { width: 279px; }
		.depth-1 input { width: 259px; }
		.depth-1 .grid-8 { width: 578px; }
		.depth-1 textarea { width: 558px; }
		
		/* -- 11.2.2 Depth 2 -- */
		.depth-2 .grid-4 { width: 258px; }
		.depth-2 input { width: 238px; }
		.depth-2 .grid-8 { width: 536px; }
		.depth-2 textarea { width: 516px; }
		
		/* -- 11.2.3 Depth 3 -- */
		.depth-3 .grid-4 { width: 237px; }
		.depth-3 input { width: 217px; }
		.depth-3 .grid-8 { width: 494px; }
		.depth-3 textarea { width: 474px; }
		
		/* -- 11.2.4 Depth 4 -- */
		.depth-4 .grid-4 { width: 216px; }
		.depth-4 input { width: 196px; }
		.depth-4 .grid-8 { width: 452px; }
		.depth-4 textarea { width: 432px; }
		
		/* -- 11.2.5 Depth 5 -- */
		.depth-5 .grid-4 { width: 195px; }
		.depth-5 input { width: 175px; }
		.depth-5 .grid-8 { width: 410px; }
		.depth-5 textarea { width: 390px; }

	
/* -- 12.0 Widgets -- */
.widget { margin-bottom: 0; }
h3.widget-title { color: #09c; border-bottom: 1px solid #e8e8e8; text-transform: uppercase; font-size: 11px; line-height: 20px; padding-bottom: 5px; margin-top: 0; }
#top h3.widget-title { border-bottom-color: #444; }
h3.widget-title a { text-decoration: none; }
.widget .post-excerpt { margin-bottom: 20px; }
.widget .post-excerpt p { margin-bottom: 0; }

	/* -- 12.1 Ads -- */
	.aw_ad120x60_widget, .aw_ad120x240_widget, .aw_ad300x250_widget, .aw_ad300x600_widget { margin-bottom: 20px; }
	.aw_ad125x125_widget, .ad125x125 { margin-bottom: 10px; }
	.ad125x125.ad-1, .ad125x125.ad-3, .ad125x125.ad-5 { float: left; }
	.ad125x125.ad-2, .ad125x125.ad-4, .ad125x125.ad-6 { float: right; }
	.aw_ad120x60_widget img, .aw_ad120x240_widget img, .ad125x125 img { background: #fff; padding: 9px; border: 1px solid #e8e8e8; -webkit-transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; -ms-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; }
	.aw_ad120x60_widget img:hover, .aw_ad120x240_widget img:hover, .ad125x125 img:hover { background: #333; border-color: #333; }
	
	/* -- 12.2 Categories / Latest blog posts -- */
	.the-latest h4 { font-size: 12px; line-height: 20px; margin-bottom: 5px }
	.the-latest a h4 { color: #333; font-weight: bold; }
	.the-latest .post-title a { text-decoration: none; }
	.the-latest img { width: 100%; height: auto; }
	.the-latest .post-thumb a { background: #fff; padding: 4px; border: 1px solid #e8e8e8; -webkit-transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; -ms-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; display: block; }
	.the-latest .post-thumb a:hover { background: #333; border-color: #333; }
	.the-latest .post-meta p { margin-bottom: 5px; }
	.floated-thumb { padding-bottom: 0; margin-bottom: 0; }
	.floated-thumb p { margin-bottom: 5px; }
	.floated-thumb .post-thumb { float: left; margin-right: 20px; margin-bottom: 20px; background: #fff; padding: 4px; border: 1px solid #e8e8e8; -webkit-transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; -ms-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; }
	.floated-thumb .post-thumb:hover { background: #333; border-color: #333; }
	.floated-thumb .post-meta.no-thumb { margin-bottom: 20px; }
	
	/* -- 12.3 Flickr -- */
	.flickr_badge_image { float: left; margin: 0 10px 20px 10px; }
	.flickr_badge_image a { background: #fff; padding: 4px; border: 1px solid #e8e8e8; display: block; -webkit-transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; -ms-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; }
	.flickr_badge_image a:hover { background: #333; border-color: #333; }
	.flickr_badge_image img { height: 50px; width: 50px; }
	#flickr_badge_image1, #flickr_badge_image5, .grid-2 #flickr_badge_image3, .grid-2 #flickr_badge_image7 { margin-left: 0; }
	#flickr_badge_image4, #flickr_badge_image8, .grid-2 #flickr_badge_image2, .grid-2 #flickr_badge_image6 { margin-right: 0; }

	/* -- 12.4 News in pictures -- */
	.aw_newsinpictures_widget { margin-bottom: 20px; }
	#news-images, #news-thumbs { height: 300px !important; width: 300px !important; overflow: hidden; }
	.news-image, #news-images img { display: block; width: 300px !important; height: 300px; }
	.news-image { position: relative !important; }
	.news-title, .news-desc { display: block; }
	.news-meta .news-title { color: #fff; font-weight: bold; padding-bottom: 5px; margin-bottom: 5px; border-bottom: 1px solid #666; }
	.news-meta .news-desc { color: #999; font-size: 10px; text-transform: uppercase; }
	.news-meta .news-title a { color: #fff; text-decoration: none; }
	.news-meta .news-desc a { color: #999; text-decoration: none; }
	.news-meta .news-desc a:hover { color: #fff; }
	#news-images { display: block !important; left: 0 !important; position: relative; }
	#news-thumbs img { margin: 0 10px 20px 10px; cursor: pointer; float: left; background: #fff; padding: 4px; border: 1px solid #e8e8e8; -webkit-transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; -ms-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; }
	#news-thumbs img:hover, #news-thumbs img.selected { background: #333; border-color: #333; }
	#news-thumbs .itm0, #news-thumbs .itm4, #news-thumbs .itm8, #news-thumbs .itm12 { margin-left: 0; }
	#news-thumbs .itm3, #news-thumbs .itm7, #news-thumbs .itm11, #news-thumbs .itm15 { margin-right: 0; }
	#news-thumbs .itm12, #news-thumbs .itm13, #news-thumbs .itm14, #news-thumbs .itm15 { margin-bottom: 0; }
	#news-thumbs img.selected, #news-thumbs img:hover {  }
	
	/* -- 12.5 Search -- */
	#searchform { position: relative; margin-bottom: 20px; }
	#s { padding-right: 29px; width: 255px; }
	#searchsubmit { position: absolute; display: block; top: 6px; right: 6px; z-index: 2; height: 28px; width: 28px; border: 0; padding: 0; text-indent: -9999px; cursor: pointer; background: #333 url('/img/search.png') 0 0 no-repeat; }
	.ie7 #searchsubmit { top: 7px; }
	#searchsubmit:hover { background-color: #09c; }
	
	/* -- 12.6 Slider -- */
	
		/* -- 12.6.1 Slider reset -- */
		.flex-container a:active, .flexslider a:active, .flex-container a:focus, .flexslider a:focus  { outline: none; }
		.slides, .flex-control-nav, .flex-direction-nav { margin: 0; padding: 0; list-style: none; }
		.flexslider { margin: 0; padding: 0; }
		.flexslider .slides > li { display: none; -webkit-backface-visibility: hidden; }
		.flexslider .slides img { width: 100%; display: block; }
		.flex-pauseplay span { text-transform: capitalize; }
		.slides:after { content: '.'; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
		html[xmlns] .slides { display: block; }
		* html .slides { height: 1%; }
		.no-js .slides > li:first-child { display: block; }
		.slider-caption, .flex-direction-nav { display: none; }
		
		/* -- 12.6.2 Slider theme -- */
		.flexslider { padding-bottom: 20px; overflow: hidden; position: relative; height: auto; zoom: 1; }
		.flex-viewport { max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease; }
		.loading .flex-viewport { max-height: 300px; }
		.flexslider .slides { zoom: 1; }
		.flexslider a { text-decoration: none; }
		.flexslider img { height: auto; width: 100%; }
		.flexslider li { list-style: none; margin: 0; }
		.slider-wrap { position: relative; opacity: 0; }
		.slider-item { position: relative; width: 100%; float: left; }
		.slider-item > a { display: block; }
		.slider-caption { position: absolute; display: block; width: 100%; background: #333; bottom: 0; right: 0; color: #fff; margin-bottom: 0; }
		.slider-caption-wrap { padding: 10px 20px; }
		.slider-caption p { margin-bottom: 0; }
		.flex-direction-nav li { list-style: none; display: block; background: #fff; background: #333; padding: 10px 15px; position: absolute; top: 50%; margin: -20px 0 0 0; -webkit-border-radius: 40px; -moz-border-radius: 40px; border-radius: 40px; }
		.flex-direction-nav .first-child { left: 20px; }
		.flex-direction-nav .last-child { right: 20px; }
		.flex-direction-nav li .flex-prev, .flex-direction-nav li .flex-next { display: block; text-indent: -9999px; height: 0; width: 0; border-top: 10px solid transparent; border-bottom: 10px solid transparent; }
		.flex-direction-nav li .flex-prev { left: 10px; border-right: 10px solid #fff; }
		.flex-direction-nav li .flex-prev:hover { border-right-color: #09c; }
		.flex-direction-nav li .flex-next { right: 10px; border-left: 10px solid #fff; }
		.flex-direction-nav li .flex-next:hover { border-left-color: #09c; }
		.flex-control-nav { position: absolute; bottom: 40px; left: 20px; text-align: center; height: 10px; margin: 0; display: table-cell; }
		.flex-control-nav li { list-style: none; display: block; float: left; height: 10px; width: 10px; margin: 0 2.5px; line-height: 0; }
		.flex-control-nav li:last-child { margin-right: 0; }
		.flex-control-nav a { cursor: pointer; display: block; text-indent: -9999px; height: 6px; width: 6px; background: #333; border: 2px solid #333; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
		.flex-control-nav a:hover, .flex-control-nav a.flex-active { background: #ccc; }
		
		/* -- 12.6.3 Slider blog / Slider latest --*/
		#slider-archive, .aw_sliderblog_widget, .aw_sliderlatest_widget { background: #333; padding: 10px; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; margin-bottom: 20px; }
		#slider-archive .flexslider, .aw_sliderblog_widget .flexslider, .aw_sliderlatest_widget .flexslider { padding-bottom: 0; }
		#archive .slider-caption, .aw_sliderblog_widget .slider-caption, .aw_sliderlatest_widget .slider-caption { width: 50%; height: 100%; color: #ddd; }
		#slider-archive .flex-control-nav, .aw_sliderblog_widget .flex-control-nav, .aw_sliderlatest_widget .flex-control-nav { bottom: 10px; left: 10px; }
		#slider-archive .slider-caption-title, .aw_sliderblog_widget .slider-caption-title, .aw_sliderlatest_widget .slider-caption-title { color: #fff; border-bottom: 1px solid #666; padding-bottom: 10px; margin-bottom: 10px; font-size: 22px; line-height: 30px; font-weight: normal; }
		#slider-archive .slider-caption-link, .aw_sliderblog_widget .slider-caption-link, .aw_sliderlatest_widget .slider-caption-link { text-transform: uppercase; font-size: 10px; }
		#slider-archive .slider-caption-link a, .aw_sliderblog_widget .slider-caption-link a, .aw_sliderlatest_widget .slider-caption-link a, #archive .slides .post-meta, .aw_sliderblog_widget .post-meta, .aw_sliderlatest_widget .post-meta, #archive .slides .post-meta a, .aw_sliderblog_widget .post-meta a, .aw_sliderlatest_widget .post-meta a { color: #999; }
		#slider-archive .slider-caption-link a:hover, .aw_sliderblog_widget .slider-caption-link a:hover, #slider-archive .slider-caption-link a:hover, .aw_sliderlatest_widget .slider-caption-link a:hover, #slider-archive .slides .post-meta a:hover, .aw_sliderblog_widget .post-meta a:hover, .aw_sliderlatest_widget .post-meta a:hover { color: #fff; }
	
	/* -- 12.7 Social counter -- */
	.aw_socialcounter_widget li a { font-weight: bold; text-decoration: none; color: #333; }
	.aw_socialcounter_widget li span { display: block; color: #999; font-size: 10px; text-transform: uppercase; }
	.aw_socialcounter_widget .alignleft { margin-right: 10px; margin-top: -4px; }
	
	/* -- 12.8 Tabbed -- */
	.tabs { margin: 0 0 20px 0; display: block; } 
	.tabs ul.nav { list-style: none; margin: 0; padding: 0; }
	.tabs ul.nav li { float: left; position: relative; margin: 0; z-index: 10; padding: 10px 20px; margin: 0 0 -1px 0; border: 1px solid transparent; border-bottom-color: #e8e8e8; }
	#top .tabs ul.nav li { border-bottom-color: #444; }
	.tabs ul.nav li a { color: #333; text-decoration: none; text-transform: uppercase; font-weight: bold; display: block; overflow: hidden; }
	.tabs ul.nav li a:hover { color: #09c; }
	.tabs ul.nav li.active { background: #fff; border: 1px solid #e8e8e8; border-bottom-color: #fff !important; }
	#top .tabs ul.nav li.active { background: #333; border-color: #444; border-bottom-color: #333 !important; }
	.tabs .tab { background: #fff; border: 1px solid #e8e8e8; padding: 20px 20px 0 20px; }
	#top .tabs .tab { background: #333; border-color: #444; }
	.tabs ul.nav li.active a { color: #09c; }
	.aw_tabbed_widget .tab ul { margin: 0; }
	.aw_tabbed_widget .tab li { list-style: none; padding-bottom: 5px; margin-bottom: 5px; margin-left: 0; }
	.aw_tabbed_widget .tab li:last-child { padding-bottom: 0px; border-bottom: 0; margin-bottom: 0; }
	.aw_tabbed_widget .tabs ul.nav li a { display: block; height: 16px; width: 16px; padding: 0; background: #333 url('/img/icons-sprite.png') no-repeat; text-indent: -9999px; }
	.aw_tabbed_widget .floated-thumbs { margin-bottom: 0; }
	.aw_tabbed_widget .tabs ul.nav li.active a, .aw_tabbed_widget .tabs ul.nav li a:hover { background-color: #09c; }
	.aw_tabbed_widget #link-popular-posts { background-position: 0 0; }
	footer .aw_tabbed_widget #link-popular-posts { background-position: 0 -16px; }
	#top .aw_tabbed_widget #link-popular-posts { background-position: 0 -32px; }
	.aw_tabbed_widget #link-latest-posts { background-position: -16px 0; }
	footer .aw_tabbed_widget #link-latest-posts { background-position: -16px -16px; }
	#top .aw_tabbed_widget #link-latest-posts { background-position: -16px -32px; }
	.aw_tabbed_widget #link-latest-comments { background-position: -32px 0; }
	footer .aw_tabbed_widget #link-latest-comments { background-position: -32px -16px; }
	#top .aw_tabbed_widget #link-latest-comments { background-position: -32px -32px; }
	.aw_tabbed_widget #link-tags { background-position: -48px 0; }
	footer .aw_tabbed_widget #link-tags { background-position: -48px -16px; }
	#top .aw_tabbed_widget #link-tags { background-position: -48px -32px; }
	.aw_tabbed_widget #tab-latest-comments a { font-size: 12px; text-transform: none; text-decoration: none; color: #333; font-weight: bold; }
	
	/* -- 12.9 Twitter -- */
	.aw_twitter_widget span { padding-left: 26px; display: block; }
	.ie7 .aw_twitter_widget span { margin-top: -24px; }
	.aw_twitter_widget .twitter-time { font-size: 11px; font-family: Arial, sans-serif; font-style: normal; }
	.ie7 .aw_twitter_widget .twitter-time { margin-top: 0; }
	.aw_twitter_widget ul { list-style: none; }
	.aw_twitter_widget li { margin-left: 0; position: relative; margin-top: 10px; border-bottom: 1px dotted #e8e8e8; padding-bottom: 10px; }
	#top .aw_twitter_widget li { border-bottom-color: #444; }
	.aw_twitter_widget li:first-child { margin-top: 0; }
	.aw_twitter_widget li:last-child { padding-bottom: 0; border-bottom: 0; }
	.aw_twitter_widget .twitter-icon { display: block; position: absolute; top: 5px; left: 0; height: 16px; width: 16px; background: #09c url('/img/icons-sprite.png') -64px 0 no-repeat; }
	footer .aw_twitter_widget .twitter-icon { background-position: -64px -16px; }
	#top .aw_twitter_widget .twitter-icon { background-position: -64px -32px; }
	 
	/* -- 12.10 Various -- */
	.widget_archive li, .widget_categories li, .widget_nav_menu li, .widget_links li, .widget_meta li, .widget_pages li, .widget_post-views li, .widget_recent_comments li, .widget_recent_entries li, .widget_rss li, .aw_socialcounter_widget li { list-style: none; border-bottom: 1px dotted #e8e8e8; padding: 10px 0; display: block; }
	#top .widget_archive li, #top .widget_categories li, #top .widget_nav_menu li, #top .widget_links li, #top .widget_meta li, #top .widget_pages li, #top .widget_post-views li, #top .widget_recent_comments li, #top .widget_recent_entries li, #top .widget_rss li, #top .aw_socialcounter_widget li { border-bottom-color: #444; }
	.widget_archive li:first-child, .widget_categories li:first-child, .widget_nav_menu li:first-child, .widget_links li:first-child, .widget_meta li:first-child, .widget_pages li:first-child, .widget_post-views li:first-child, .widget_recent_comments li:first-child, .widget_recent_entries li:first-child, .widget_rss li:first-child, .aw_socialcounter_widget li:first-child { padding-top: 0; }
	.widget_archive li:last-child, .widget_categories li:last-child, .widget_nav_menu li:last-child, .widget_links li:last-child, .widget_meta li:last-child, .widget_pages li:last-child, .widget_post-views li:last-child, .widget_recent_comments li:last-child, .widget_recent_entries li:last-child, .widget_rss li:last-child, .aw_socialcounter_widget li:last-child { border-bottom: 0; padding-bottom: 0; }
	.widget_archive select, .widget_categories select { margin-bottom: 20px; }
	.widget_categories ul ul, .widget_nav_menu ul ul { margin-left: 0; }
	.widget_categories .children, .widget_nav_menu .sub-menu { padding-top: 10px; }
	.widget_categories .children li, .widget_nav_menu .sub-menu li { padding-left: 20px; }
	.widget_categories .children .children li, .widget_nav_menu .sub-menu .sub-menu li { padding-left: 40px; }
	.widget_categories .children li:first-child, .widget_nav_menu .sub-menu li:first-child { border-top: 1px dotted #e8e8e8; padding-top: 10px; }
	#top .widget_categories .children li:first-child, #top .widget_nav_menu .sub-menu li:first-child { border-top-color: #444; }
	.widget_links li a { display: block; }
	.widget_links li a img { float: left; margin-right: 20px; }
	.widget_rss .rss-date { display: block; }
	.widget_tag_cloud { margin-bottom: 20px; }
	
	/* -- 12.11 Video -- */
	.aw_video_widget .description { font-style: italic; }
	

/* -- 13.0 Shortcodes -- */

	/* -- 13.1 Button -- */
	.button { display: inline-block; cursor: pointer; color: #fff; margin: 0 5px 0 0; text-decoration: none; text-shadow: 0px -1px 0 rgba(0,0,0,0.25); text-align: center; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; background-position: 0 0; background-repeat: repeat-x; border: 1px solid; }
	.button:hover { color: #fff; background-color: transparent; }
	.button:active { -webkit-box-shadow: inset 0 -1px 2px rgba(0,0,0,0.25); -moz-box-shadow: inset 0 -1px 2px rgba(0,0,0,0.25); box-shadow: inset 0 -1px 2px rgba(0,0,0,0.25); }
	.button.blue { border-color: #0ca1d1; }
	.button.brown { border-color: #9c6b34; }
	.button.dark { border-color: #484848; }
	.button.green { border-color: #8fc111; }
	.button.grey { border-color: #999; }
	.button.light { border-color: #bbb; color: #666; text-shadow: 0 -1px 0 rgba(255,255,255,0.25); }
	.button.light:hover { color: #666; }
	.button.magenta { border-color: #bd3650; }
	.button.orange { border-color: #df8022; }
	.button.purple { border-color: #8079a8; }
	.button.red { border-color: #c13531; }
	
		/* -- 13.1.1 Button small -- */
		.button.small { font: bold 11px/30px Arial, sans-serif; height: 30px; padding: 0 20px; }
		.button.small:hover { background-position-y: -30px; }
		.button.small.blue { background-image: url('/img/_colors/blue/button-small.png'); }
		.button.small.brown { background-image: url('/img/_colors/brown/button-small.png'); }
		.button.small.dark { background-image: url('/img/_colors/dark/button-small.png'); }
		.button.small.green { background-image: url('/img/_colors/green/button-small.png'); }
		.button.small.grey { background-image: url('/img/_colors/grey/button-small.png'); }
		.button.small.light { background-image: url('/img/_colors/light/button-small.png'); }
		.button.small.magenta { background-image: url('/img/_colors/magenta/button-small.png'); }
		.button.small.orange { background-image: url('/img/_colors/orange/button-small.png'); }
		.button.small.purple { background-image: url('/img/_colors/purple/button-small.png'); }
		.button.small.red { background-image: url('/img/_colors/red/button-small.png'); }
		
		/* -- 13.1.2 Button medium -- */
		.button.medium { font: bold 13px/40px Arial, sans-serif; height: 40px; padding: 0 25px; }
		.button.medium:hover { background-position-y: -40px; }
		.button.medium.blue { background-image: url('/img/_colors/blue/button-medium.png'); }
		.button.medium.brown { background-image: url('/img/_colors/brown/button-medium.png'); }
		.button.medium.dark { background-image: url('/img/_colors/dark/button-medium.png'); }
		.button.medium.green { background-image: url('/img/_colors/green/button-medium.png'); }
		.button.medium.grey { background-image: url('/img/_colors/grey/button-medium.png'); }
		.button.medium.light { background-image: url('/img/_colors/light/button-medium.png'); }
		.button.medium.magenta { background-image: url('/img/_colors/magenta/button-medium.png'); }
		.button.medium.orange { background-image: url('/img/_colors/orange/button-medium.png'); }
		.button.medium.purple { background-image: url('/img/_colors/purple/button-medium.png'); }
		.button.medium.red { background-image: url('/img/_colors/red/button-medium.png'); }
	
		/* -- 13.1.3 Button large -- */
		.button.large { font: bold 15px/50px Arial, sans-serif; height: 50px; padding: 0 30px; }
		.button.large:hover { background-position-y: -50px; }
		.button.large.blue { background-image: url('/img/_colors/blue/button-large.png'); }
		.button.large.brown { background-image: url('/img/_colors/brown/button-large.png'); }
		.button.large.dark { background-image: url('/img/_colors/dark/button-large.png'); }
		.button.large.green { background-image: url('/img/_colors/green/button-large.png'); }
		.button.large.grey { background-image: url('/img/_colors/grey/button-large.png'); }
		.button.large.light { background-image: url('/img/_colors/light/button-large.png'); }
		.button.large.magenta { background-image: url('/img/_colors/magenta/button-large.png'); }
		.button.large.orange { background-image: url('/img/_colors/orange/button-large.png'); }
		.button.large.purple { background-image: url('/img/_colors/purple/button-large.png'); }
		.button.large.red { background-image: url('/img/_colors/red/button-large.png'); }
	
	/* -- 13.2 List -- */
	.ie7 .list li { margin-left: 10px; }
	.list.blue li { list-style-image: url('/img/_colors/blue/bullet.png'); }
	.list.brown li { list-style-image: url('/img/_colors/brown/bullet.png'); }
	.list.dark li { list-style-image: url('/img/_colors/dark/bullet.png'); }
	.list.green li { list-style-image: url('/img/_colors/green/bullet.png'); }
	.list.grey li { list-style-image: url('/img/_colors/grey/bullet.png'); }
	.list.light li { list-style-image: url('/img/_colors/light/bullet.png'); }
	.list.magenta li { list-style-image: url('/img/_colors/magenta/bullet.png'); }
	.list.orange li { list-style-image: url('/img/_colors/orange/bullet.png'); }
	.list.purple li { list-style-image: url('/img/_colors/purple/bullet.png'); }
	.list.red li { list-style-image: url('/img/_colors/red/bullet.png'); }
	
	/* -- 13.3 Toggle -- */
	.toggle-title { cursor: pointer; margin-bottom: 20px; position: relative; background: #fff; padding: 10px 40px 10px 20px; border: 1px solid #e8e8e8; font-weight: bold; text-transform: uppercase; display: block; }
	.toggle-title br { display: none; }
	.toggle-title .toggle-icon { display: block; position: absolute; top: 50%; margin-top: -2.5px; right: 20px; height: 0; width: 0; border-right: 5px solid transparent; border-left: 5px solid transparent; border-top: 5px solid #333; }
	.toggle.hover .toggle-title { color: #09c; }
	.toggle.hover .toggle-icon { border-top-color: #09c; }
	.toggle.active .toggle-icon { border-top: 0; border-bottom: 5px solid #333; }
	.toggle.hover.active .toggle-icon { border-bottom-color: #09c; }
	.toggle-content { margin: 20px 0; padding: 0; }
	.toggle.open .toggle-content { display: block; }
	.toggle.closed .toggle-content { display: none; }
	
	/* -- 13.4 Tooltips -- */
	.tooltip { position: relative; cursor: pointer; }
	.tooltip-box { position: absolute; display: none; background: #333; padding: 10px 20px; width: 180px; cursor: default; bottom: 20px; left: 50%; margin-left: -110px; color: #fff; z-index: 2; }
	.tooltip-arrow { position: absolute; display: block; height: 0; width: 0; border-top: 5px solid #333; border-left: 5px solid transparent; border-right: 5px solid transparent; bottom: -5px; left: 50%; margin-left: -5px; }
	
	/* -- 13.5 Dropcap -- */
	.dropcap { display: block; float: left; font: 48px/48px 'Noticia Text', serif; margin: 0 10px 0 0; color: #09c; }

	/* -- 13.6 Highlight -- */
	.highlight { padding: 2px 5px; color: #fff; background-color: #09c; text-shadow: 0 1px 1px rgba(0,0,0,0.25); }
	
	/* -- 13.7 Alert -- */
	.alert { display: block; padding: 20px; border: 1px solid; font-family: 'Noticia Text', serif; font-style: italic; text-align: center; text-shadow: 0 1px 0 rgba(255,255,255,0.5); }
	.alert.blue { background-color: #c2e1ee; border-color: #8ec3d9; color: #3d5058; }
	.alert.dark { background-color: #333; border-color: #111; color: #fff; text-shadow: 0 1px 0 rgba(0,0,0,0.5); }
	.alert.green { background-color: #e1ffd9; border-color: #badeb1; color: #435b3d; }
	.alert.light { background-color: #eee; border-color: #ccc; color: #333; }
	.alert.red { background-color: #ffdcdd; border-color: #e9b9bb; color: #713a3c; }
	.alert.yellow { background-color: #ffffe0; border-color: #e1db8b; color: #4d4d39; }
	
	/* -- 13.8 Google Maps -- */
	.google-maps { margin-bottom: 20px; }
	.google-maps a { border: 0; }
	.google-maps a:hover { background: none; }
	
	/* -- 13.9 Columns -- */
	.one-half, .one-third, .two-third, .one-fourth, .three-fourth, .one-sixth { float: left; display: block; margin: 0 20px 0 0; }
	.last { margin: 0; }
	.one-half { width: 340px; }
	.one-third { width: 220px; }
	.two-third { width: 460px; }
	.one-fourth { width: 160px; }
	.three-fourth { width: 520px; }
	.one-sixth { width: 100px; }
	.page-template-template-fullwidth-php .one-half { width: 460px; }
	.page-template-template-fullwidth-php .one-third { width: 300px; }
	.page-template-template-fullwidth-php .two-third { width: 620px; }
	.page-template-template-fullwidth-php .one-fourth { width: 220px; }
	.page-template-template-fullwidth-php .three-fourth { width: 700px; }
	.page-template-template-fullwidth-php .one-sixth { width: 140px; }
	

/* -- 14.0 Responsive -- */
	
	/* -- 14.1 768 < x < 959 -- */
	@media only screen and (min-width: 768px) and (max-width: 959px) {
	
		/* -- 14.1.1 Leaderboard -- */
		#leaderboard { display: none; }
		#logo.leaderboard-true, #logo.leaderboard-true p { margin-bottom: 0; }
		#logo.leaderboard-true { margin-top: 0 !important; position: inherit !important; }
		
		/* -- 14.1.2 Forms -- */
		input { width: 200px; }
		textarea { width: 440px; height: 140px; }
		#recaptcha_image { width: 220px !important; }
		#recaptcha_image img { width: 100% !important; height: auto !important; }
		
		/* -- 14.1.3 Posts -- */
		.floated-thumb .post-thumb { height: 30px; width: 30px; }
		.floated-thumb .post-thumb img { width: 100%; height: auto; }
		
		/* -- 14.1.4 Comments - Comment form - Depths -- */
		.depth-1 .grid-4 { width: 199px; }
		.depth-1 input { width: 179px; }
		.depth-1 .grid-8 { width: 418px; }
		.depth-1 textarea { width: 398px; }
		.depth-2 .grid-4 { width: 178px; }
		.depth-2 input { width: 158px; }
		.depth-2 .grid-8 { width: 376px; }
		.depth-2 textarea { width: 356px; }
		.depth-3 .grid-4 { width: 157px; }
		.depth-3 input { width: 137px; }
		.depth-3 .grid-8 { width: 334px; }
		.depth-3 textarea { width: 314px; }
		.depth-4 .grid-4 { width: 136px; }
		.depth-4 input { width: 116px; }
		.depth-4 .grid-8 { width: 292px; }
		.depth-4 textarea { width: 272px; }
		.depth-5 .grid-4 { width: 115px; }
		.depth-5 input { width: 95px; }
		.depth-5 .grid-8 { width: 250px; }
		.depth-5 textarea { width: 230px; }
		
		/* -- 14.1.5 Widget - Ads -- */
		.aw_ad300x250_widget img, .aw_ad300x600_widget img { width: 100%; height: auto; }
		.aw_ad120x60_widget img, .aw_ad120x240_widget img, .aw_ad125x125_widget img { width: 90px; height: auto; padding: 4px; }
		.ad125x125 { width: 100px; height: 100px; }
		
		/* -- 14.1.6 Widget - Flickr -- */
		.aw_flickr_widget img { height: 30px; width: 30px; }
		
		/* -- 14.1.5 Widget - News in pictures -- */
		#news-images, #news-thumbs { height: 220px !important; width: 220px !important; overflow: hidden; }
		#news-thumbs img { width: 30px; height: 30px; }
		.news-image, #news-images img { display: block; width: 220px !important; height: 220px; }
		.aw_newsinpictures_widget .caroufredsel_wrapper { height: 220px !important; }
		.news-title { font-weight: bold; }
		.news-meta { width: 180px !important; }
		
		/* -- 14.1.6 Widget - Search -- */
		#s { width: 175px; }
		
		/* -- 14.1.7 Shortcode - Columns -- */
		.one-half, .one-third, .two-third, .one-fourth, .three-fourth, .one-sixth { float: left; display: block; margin: 0 20px 0 0; }
		.last { margin: 0; }
		.one-half { width: 250px; }
		.one-third { width: 160px; }
		.two-third { width: 340px; }
		.one-fourth { width: 115px; }
		.three-fourth { width: 385px; }
		.one-sixth { width: 70px; }
		.page-template-template-fullwidth-php .one-half { width: 340px; }
		.page-template-template-fullwidth-php .one-third { width: 220px; }
		.page-template-template-fullwidth-php .two-third { width: 460px; }
		.page-template-template-fullwidth-php .one-fourth { width: 160px; }
		.page-template-template-fullwidth-php .three-fourth { width: 520px; }
		.page-template-template-fullwidth-php .one-sixth { width: 100px; }
		
		/* -- 14.1.8 Widget - Tabbed -- */
		.aw_tabbed_widget .tabs ul.nav li { padding: 10px 15px; }
		
	}
	
	/* -- 14.2 x < 767 -- */
	@media screen and (max-width: 767px) {
	
		/* -- 14.2.1 Main structure -- */
		body { background: #fff !important; }
		#wrapper { padding: 0; }
		#logo.leaderboard-true { padding-top: 80px; padding-bottom: 0; margin-top: 0 !important; position: inherit !important; }
		#logo { padding-top: 0; margin-top: 80px; padding-bottom: 20px; }
		
		/* -- 14.2.2 Typography -- */
		.text-right { text-align: left; }
		
		/* -- 14.2.3 Top -- */
		#top-button, #top-nav { display: none !important; }
		
		/* -- 14.2.4 Bottom -- */
		#bottom .text-right { display: none; }
		
		/* -- 14.2.5 Leaderboard -- */
		#leaderboard { display: none; }
		#logo.leaderboard-true, #logo.leaderboard-true img { margin: 0 0 20px 0; }
		#logo { margin-bottom: 20px; }
				
		/* -- 14.2.6 Main nav -- */
		#main-nav { background: transparent; position: relative; border: 0; }
		#main-navIcon { background: #111; width: 95%; padding: 0 2.5%; display: block; height: 40px; cursor: pointer; color: #fff; line-height: 40px; position: absolute; top: -40px; left: 0; z-index: 9999; font-size: 20px; }
		#main-nav { position: absolute; top: 0; width: 100%; left: 0; z-index: 9998; }
		#main-nav .menu { clear: both; z-index: 9998; display: none; }
		#main-nav ul a { display: block; color: #fff; }
		#main-nav ul { display: block; width: 100%; background: #333; }
		#main-nav ul ul, #main-nav ul ul li { padding: 0; background: none; }
		#main-nav ul li { display: block; width: 100%; float: none; }
		#main-nav ul li ul { left: 0; top: 0; position: inherit; width: 100%; }
		#main-nav ul ul li { line-height: 40px; height: 40px; }
		#main-nav ul li ul li { min-width: 100%; width: 100%; display: block; }
		#main-nav ul li .sub-menu { display: block !important; visibility: visible !important; }
		#main-nav ul li:hover ul, #main-nav ul li.sfHover ul { left: 0; top: 0; }
		#main-nav ul ul a { padding-left: 40px !important; }
		#main-nav ul ul ul a { padding-left: 60px !important; }
		#main-nav ul ul ul ul a { padding-left: 80px !important; }
		#main-nav ul a:hover, #main-nav ul li.sfHover a, #main-nav ul li.current-cat a, #main-nav ul li.current-menu-item a { background: #222; display: block; }
		#main-nav ul ul li a { border-top: none; line-height: 40px; height: 40px; }
		
		/* -- 14.2.7 Posts - Video & Audio player -- */
		div.jp-jplayer, div.jp-jplayer img { width: 100% !important; height: auto; }
		
		/* -- 14.2.8 Forms -- */
		input, textarea { padding: 0 1%; width: 98%; line-height: normal; }
		label { line-height: 24px; }
		label.none { display: block !important; }
		.input-wrapper { padding: 1%; background: #f8f8f8; }
		
		/* -- 14.2.9 Comments - Comment list -- */
		ol.commentlist .depth-1 { margin-bottom: 4%; position: relative; }
		li.comment { padding: 4% 4% 0 4%; margin: 2% 0 4% 0; border: none; height: 100%; -webkit-box-shadow: 0 0 2px #aaa; -moz-box-shadow: 0 0 2px #aaa; box-shadow: 0 0 2px #aaa; }
		ul.children li.comment { margin-top: 4%; }
		li.comment .avatar { margin-right: 4%; }
		.comment-meta { margin-bottom: 4%; }
			
		/* -- 14.2.10 Comments - Comment form - Depths -- */
		.depth-1 .grid-4, .depth-2 .grid-4, .depth-3 .grid-4, .depth-4 .grid-4, .depth-5 .grid-4 { width: 100%; }
		.depth-1 input, .depth-2 input, .depth-3 input, .depth-4 input, .depth-5 input { width: 98%; }
		.depth-1 .grid-8, .depth-2 .grid-8, .depth-3 .grid-8, .depth-4 .grid-8, .depth-5 .grid-8 { width: 100%; }
		.depth-1 textarea, .depth-2 textarea, .depth-3 textarea, .depth-4 textarea, .depth-5 textarea { width: 98%; }
		
		/* -- 14.2.11 Widget - Ads -- */
		.ad125x125 { float: left !important; margin: 0 20px 20px 0 !important; }
		.ad125x125.ad-6 { margin-right: 0 !important; }
		
		/* -- 14.2.12 Widget - News in pictures -- */
		#news-images { float: none; margin: 0 auto; }
		#news-thumbs { float: none; margin: 20px auto 0 auto; }
		
		/* -- 14.2.13 Widget - Search -- */
		#s { width: 98%; padding: 0 1%; }
		#searchform label { display: none !important; }
		#searchsubmit { display: none; }
		
		/* -- 14.2.14 Widget - Slider -- */
		.slider-caption, .flex-direction-nav { display: none !important; }
		
		/* -- 14.2.15 Shortcode - Tabs -- */
		.tabs ul.nav li { display: block; float: none; border: 1px solid #e8e8e8; display: block; padding: 10px 5%; }
		.tabs ul.nav li.active:last-child { border-bottom: 1px solid #e8e8e8; }
		.tabs .tab { background: #fff; border: 0.2% solid #e8e8e8; padding: 10px; }
		.aw_tabbed_widget .tabs ul.nav li a { text-indent: 0; background: none !important; height: auto; width: auto; }
		
		/* -- 14.2.16 Shortcode - Columns -- */
		.one-half, .one-third, .two-third, .one-fourth, .three-fourth, .one-sixth { float: left; display: block; margin: 0 20px 0 0; width: 100% !important; }
		.last { margin: 0; }
		
	}


/* -- x.x Clear -- */
.clear { clear: both; display: block; overflow: hidden; visibility: hidden; width: 0; height: 0; }
.clearfix:before, .clearfix:after { content: '\0020'; display: block; overflow: hidden; visibility: hidden; width: 0; height: 0; }
.clearfix:after { clear: both }
.clearfix { zoom: 1 }


/* -- x.x Various -- */
*::selection { color: #fff; }
*::-moz-selection { color: #fff; }
.margin-0 { margin-bottom: 0; }
.margin-10 { margin-bottom: 10px; }
.margin-20 { margin-bottom: 20px; }
.margin-30 { margin-bottom: 30px; }
.margin-40 { margin-bottom: 40px; }
.hidden { visibility: hidden; }
.none { display: none; }
.wp-caption, .gallery-caption { padding: 10px 0 0 10px; display: block; }
.wp-caption img { margin: 0 !important; display: block; padding: 0; }
.wp-caption-text { text-align: center; margin-bottom: 0; font: 12px/20px 'Noticia Text', Georgia, serif; font-style: italic; }
.sticky {  }
.bypostauthor {  }
.rounded { -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; }